@model HelloWorld.Models.Product

@{
    ViewBag.MyTitle = "Product Information: " + Model.Name;
}

<p>Name: @Model.Name</p>
<p>Description: @Model.Description</p>
<p>Price: @string.Format("{0:C}",Model.Price)</p>