@model HelloWorld.Models.Product[]
@{
    ViewBag.MyTitle = "My Products";
}

@if (Model.Length > 0)
{
    <table>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@string.Format("{0:C}", product.Price)</td>
                <td>
                    @if (product.Count == 0)
                    {
                        @:Out of Stock
                    }
                    else if (product.Count == 1)
                    {
                        <p>Low Stock</p>
                    }
                    else
                    {
                      <text>@string.Format("{0} items", product.Count)</text>
                    }
            </td>
        </tr>
        }
    </table>
}
else
{
    <h2>No product data found.</h2>
}